<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href=favicon.ico>
    <title>iview-admin-template</title>
    <link href=static/web/css/chunk-view-design.fe3c5e80.css rel=stylesheet>
    <link href=static/web/css/chunk-libs.fdedad25.css rel=stylesheet>
    <link href=static/web/css/app.d5e6fb78.css rel=stylesheet>
</head>
<script></script>
<body>
<noscript><strong>We're sorry but iview-admin-template doesn't work properly without JavaScript enabled. Please enable
    it to continue.</strong></noscript>
<div id=app></div>
<script src=static/web/js/manifest.3ae41bd6.js></script>
<script src=static/web/js/chunk-view-design.f5b84257.js></script>
<script src=static/web/js/chunk-libs.97f10637.js></script>
<script src=static/web/js/app.36c67ba0.js></script>
</body>
</html>
